:host {
  display: inline-block;
}
:host(.editor) {
  position: relative;
}

:host(.editor) > .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.25;
  height: 100%;
  width: 100%;
}
:host(.editor) > .overlay:hover {
  opacity: 0.85;
}
