:host {
  display: inline-block;
  position: relative;
  padding: 2px;
}

 .overlay {
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  opacity: 0.1;
  height: calc(100% - 4px);
  width: calc(100% - 4px);
}

.overlay:hover {
  opacity: 0.25;
}
