.border {
  height: 1px;
  background: darkgrey;
  margin: 4px;
}

#paths a {
  cursor: pointer;
}

#paths a + a:before {
  content: "\\";
  margin: 0 4px;
}

#folders a,
#files a {
  display: block;
  cursor: pointer;
}

.root {
  overflow: auto;
}
