<div
  class='root'
  [ngClass]="col | columnClassName"
  [style.maxHeight.px]="maxHeight > 0 ? maxHeight : ''"
  >

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li
        *ngFor="let x of paths"
        class="breadcrumb-item">
        <a (click)='goToPath(x.url);' href="javascript:void(0);">{{x.title}}</a>
      </li>
    </ol>
  </nav>
  <div class="border"></div>
  <div id="folders">
    <a *ngFor="let x of folders" (click)='goToPath(x.url)'>
      <fa-icon [icon]='iconFolder'></fa-icon>
      {{x.title}}
    </a>
  </div>
  <div class="border"></div>
  <div id="files">
    <a *ngFor="let x of files" (click)='exec(x.url)'>
      <fa-icon [icon]='iconFile'></fa-icon>
      {{x.title}}
    </a>
  </div>
  <div class="border"></div>
</div>
