fa-icon, .empty-icon {
  display: inline-block;
  padding: 5px;
  margin: 2px;
  height: 60px;
  min-width: 80px;
  text-align: center;
  vertical-align: middle;
}

fa-icon:hover, .empty-icon:hover {
  background: lightpink;
  color: red;
}

.selected {
  background: lightskyblue;
  color: #333333;
}
