/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

button, .btn {
  border-radius: 0;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/*
Flex where content has scroll:
https://stackoverflow.com/a/14964944/1763586
*/
section {
  display: flex;
  flex-flow: column;
  height: 100%;
}

section > .content, section > main {
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0px;
}

/* https://stackoverflow.com/a/9314458/1763586 */
.no-selection {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
