<section *ngIf="!editControl">
  <main class="container">
    <div class="form-group">
      <input [(ngModel)]="title" autofocus placeholder="Title" class="form-control form-control-lg" />
    </div>
    <button
      *ngFor="let c of controls"
      class="btn"
      (click)="openControlEditor(c);"
      >
      {{c.name}}
    </button>
  </main>
  <div>
    <button>[Add control]</button>
    <button>[Cancel]</button>
    <button>[Save]</button>
  </div>
</section>

<rc-control-editor
  [hidden]="!editControl"
  (cancel)='editControl=null'
  (save)='updateControl($event);editControl=null'
  ></rc-control-editor>
