<section [hidden]="!show || showCreateControl">
  <main class="container-fluid">
    <div class="form-group">
      <input
        [(ngModel)]="title"
        autofocus
        placeholder="Title"
        class="form-control form-control-lg"
      />
    </div>
    <div [sortablejs]="controls" [sortablejsOptions]="{ delay: 100 }">
      <rc-control-editor-view
        *ngFor="let c of controls"
        [ngClass]="c.col | columnClassName"
        [control]="c"
        (openEditor)="openControlEditor(c)"
      ></rc-control-editor-view>
    </div>
  </main>
  <div class="container-fluid editor-controls">
    <div class="col-4">
      <button (click)="addControl()" class="btn btn-lg btn-primary">Add control</button>
    </div>
    <div class="col-4">
      <button (click)="navigateToPage()" class="btn btn-lg btn-secondary">Cancel</button>
    </div>
    <div class="col-4">
      <button (click)="save()" class="btn btn-lg btn-primary">Done</button>
    </div>
  </div>
</section>

<rc-control-editor
  [hidden]="show"
  (cancel)="updateControl()"
  (save)="updateControl($event)"
  (delete)="deleteControl($event)"
></rc-control-editor>

<rc-create-control
  [hidden]="!showCreateControl"
  (cancel)="hideCreateControl()"
  (submit)="createControl($event)"
></rc-create-control>
