.border {
    height: 1px;
    background: darkgrey;
    margin: 4px;
}

.links {
}

#output {
}

    #output:before {
        content: "Output:";
        font-weight: bold;
        font-size: 18px;
    }

.btn-container {
    display: block;
    width: 100%;
}


    .btn-container button {
        width: 150px;
        height: 150px;
        display: inline-block;
        font-size: 50px;
    }

#folders a, #files a {
    display: block;
    cursor: pointer;
}

#paths a {
    cursor: pointer;
}

    #paths a + a:before {
        content: '\\';
        margin: 0 4px;
    }

#inpVolume {
    width: 100%;
    margin: 0;
}