:host {
  height: 100%;
  display: block;
}
.control-editor-controls {
  margin: 0 -2px;
}
.control-editor-controls div {
  display: inline-block;
  padding: 0 2px;
}
.control-editor-controls button {
  width: 100%;
}
