<section [hidden]='!data'>
  <main>
    <p>Edit control: {{ control?.name }}</p>
    <ng-template rcControlHost></ng-template>
  </main>
  <footer>
    <div class="container-fluid">
      <button
        [class.col-4]="showDelete"
        [class.col-6]="!showDelete"
        class="btn btn-lg btn-secondary"
        (click)="submit(false)">
        Cancel
      </button>
      <button *ngIf="showDelete" class="btn btn-lg btn-danger col-4" (click)='deleteAction()'>
        Delete
      </button>
      <button
        [class.col-4]="showDelete"
        [class.col-6]="!showDelete"
        class="btn btn-lg btn-primary" (click)="submit(true)">
        {{textSave}}
      </button>
    </div>
  </footer>
</section>
