<section [hidden]='!data'>
  <main>
    <p>Edit control: {{ control?.name }}</p>
    <ng-template rcControlHost></ng-template>
  </main>
  <footer>
    <div class="container-fluid control-editor-controls">
      <div
        [class.col-4]="showDelete"
        [class.col-6]="!showDelete">
        <button
          class="btn btn-lg btn-secondary"
          (click)="submit(false)">
          Cancel
        </button>
      </div>
      <div
        *ngIf="showDelete"
        class="col-4">
        <button
          *ngIf="showDelete"
          class="btn btn-lg btn-danger"
          (click)='deleteAction()'>
          Delete
        </button>
      </div>
      <div
        [class.col-4]="showDelete"
        [class.col-6]="!showDelete">
        <button
          class="btn btn-lg btn-primary"
          (click)="submit(true)">
          {{textSave}}
        </button>
      </div>
    </div>
  </footer>

</section>
